
  <%- include partials/header %>
    
  <%
  /*------------------------------------------------------ SECTIONS TITLES -----------------------------------------------*/
  var level = "";
  var titleTodayActive = "Users active today";
  var titleTodayNew = "Users new today";
  var titleMoreLikes = "Profiles with more likes";
  var titleSameLevel = "";
  var titleSameCountry = "";
  var titleRadars = "Some profiles that are compatible with your radars";
  if(logged){

    if(userLoggedComplete.user_level!=null && res_users_samelevel.length>0){   
      if(res_users_samelevel[0].user_level == '1'){ var level= "Less than 1 year";}
      if(res_users_samelevel[0].user_level == '2'){ var level= "1-3 years";}
      if(res_users_samelevel[0].user_level == '3'){ var level= "3-5 years"; }
      if(res_users_samelevel[0].user_level == '4'){ var level= "5-10 years";}
    }
  
    if(userLoggedComplete.artist_macro!=null){
        if(userLoggedComplete.artist_macro=="M" && res_users_macro_sec_1!=undefined && res_users_macro_sec_2!=undefined){
          var macroName = "Music";
          var titleMacro1 = "Video Artists"; 
          var titleMacro2 = "Dance Artists with a genre in common with you";
        }
        if(userLoggedComplete.artist_macro=="V" && res_users_macro_sec_1!=undefined && res_users_macro_sec_2!=undefined){
          var macroName = "Video";
          var titleMacro1 = "Dance Artists";
          var titleMacro2 = "Music Artists";
        }
        if(userLoggedComplete.artist_macro=="D" && res_users_macro_sec_1!=undefined && res_users_macro_sec_2!=undefined){
          var macroName = "Dance";
          var titleMacro1 = "Music Artists";
          var titleMacro2 = "Video Artists";
        }

        var urlMacro1 = titleMacro1.replace(/\s+/g,'').toLowerCase(); 
        var urlMacro2 = titleMacro2.replace(/\s+/g,'').toLowerCase(); 

        var titleSameGenre = "" + macroName + " Artists with a genre in common with you";
        if(userLoggedComplete.user_level!=null){
          titleSameLevel = "" + macroName + " Artists with your same level (" + level + ")";
        }
        if(userLoggedComplete.country!=null){
          titleSameCountry = "" +  macroName + " Artists from your same country (" + userLoggedComplete.country + ")";
        }
    }
    else{
        titleSameGenre = "All Artists with a genre in common with you";
        titleSameLevel = "All Artists with your same level (" + level + ")";
        titleSameCountry = "All Artists from your same country (" + userLoggedComplete.country + ")";
    }
    
  }
  else{
    var titleSameGenre = "";
    var titleSameLevel = "";
    var titleSameCountry = "";
  }
  
%>





<div class="container-layout-sidebar">

  <%- include partials/sidebar %>

  <div class="content">

    <section class="layout-container-wide py-light">
      <%if(logged==false){%>
      <span class="box-information box-fluid">
        September 23, 2021: the first version of Hevoke is available to everyone and will continue to be improved over time.
        <br>
        Please, note that:
        We are currently in our first open access phase and we will be happy to read your feedback (support@hevoke.it or simply a DM at @hevoke.com_).
        Some profiles are for reference and testing of early users (as indicated in their bio).
        Early visitors may not find enough profiles on the website and may discover a few minor bugs (will be fixed quickly).
      </span>
      <%}%>
    </section>

        <section class="layout-container-wide py-small pb-small">

          <div class="home-header-row row align-items-center">

            <div class="col-auto">
                    <%if(logged==true){%> <p class="lead">Welcome <%=userLogged.artist_name %> 🖐️</p><%}%>
                    <%if(logged==false){%> Hey 🖐️ Nice to have you here.<br><a href="signup" class="link-text">Setup your profile</a> to be discovered and to see more sections of your Discovery Page.<%}%>
            <br>

            </div>

            <div class="col-auto ml-lg-auto">

                <% if(logged && (userLoggedComplete.artist_macro==null || userLoggedComplete.country==null || userLoggedComplete.user_level==null) ) { %> 
                  <ul class="home-complete-profile">
                    <% if(logged && userLoggedComplete.artist_macro==null) { %> <a href="/pm/edit/categories"> <li> <div><p>Add a category</p> <p>To see users with a category in common with you.</p></div>  <span> > </span> </li> </a> <% } %>
                    <% if(logged && userLoggedComplete.country==null) { %> <a href="/pm/edit/country"> <li> <div><p>Add your country</p> <p>To see users like you from your country.</p></div>  <span> > </span> </li> </a> <% } %>
                    <% if(logged && userLoggedComplete.user_level==null) { %> <a href="/pm/edit/user_level"> <li> <div><p>Add your level</p> <p>To see users like you with your same level.</p></div> <span> > </span> </li> </a> <% } %>
                  </ul>
               
                <% } %>

            </div>
          </div>
        </section>





  <!------------------------------------------------------- USERS FOR RADARS ------------------------------------------------------->


<% if(logged && res_users_matchradars!=undefined && res_users_matchradars.length>0){ %>
  <section class="layout-container-wide py-small section-bg-lighter-fade">

  <p class="text-lighter text-smaller">Based on your radars</p>
 
  <div class="section-scroll-header">
    <div>
      <!--<div class="wrapper-radar"><div class="radar"><div class="sonar"></div><div class="sonar delayed"></div></div></div>-->
      <h5><span class="section-tag radars">Radars</span> <%= titleRadars %></h5>
    </div>
    
    <span><a href="/users/usersforradars"><img src="../icons/arrow-right.svg" alt=""></a></span>
  </div>
  
  
  <section class="horizontal-scroll">
    
          <div class="row">
          <% res_users_matchradars.forEach(function(res){%>
          
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style3">

                  <div class="front">
                      <figure>
                      <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                      <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                      </figure>
                  </div>

                  <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                
                  <div class="icons">
                    <% res_links.forEach(function(result){%>
                      <%if(result.user_id == res.user_id){%>
                        <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                      <%}%>
                    <%})%>
                  </div>

              </div>
          </div>
            
          <%})%>
          
      </div>
    
   </section>

  
</section>
  
 <% } %>






<%if(logged && (res_users_samegenre!="" || res_users_samecountry!="" || res_users_samelevel!="" || res_users_samecategory!="")){%>

<section class="layout-container-wide py-small section-bg-lighter-fade">

<p class="text-smaller text-lighter">Similar to you (<%= macroName %> Artist)</p>

 <!---------------------------------------------------------------- USERS WITH A COMMON GENRE ------------------------------------------------->

  <%if(logged && res_users_samegenre!=""){%>
    <div class="section-scroll-header"><h5><span class="section-tag similar">Similar</span> <%= titleSameGenre %></h5><span><a href="/users/withcommongenre"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
    
    <section class="horizontal-scroll">
      
            <div class="row">
            <% res_users_samegenre.forEach(function(res){%>
            
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style3">
                    <div class="front">
                        <figure>
                          <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                          <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                        </figure>
                    </div>
                    <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                    <div class="icons">
                      <% res_links.forEach(function(result){%>
                        <%if(result.user_id == res.user_id){%>
                          <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                        <%}%>
                      <%})%>
                    </div>
                </div>
              </div>
              
            <%})%>
            
        </div>
      
    </section>
    <% } %>



<!----------------------------------------------------- USERS SAME COUNTRY --------------------------------------------------------->

  <%if(logged && res_users_samecountry!=""){%>
    <div class="section-scroll-header"><h5><span class="section-tag similar">Similar</span> <%= titleSameCountry %></h5><span><a href="/users/inmycountry"><img src="../icons/arrow-right.svg" alt=""></a></span></div>

        <section class="horizontal-scroll">
          
                <div class="row">
                <% res_users_samecountry.forEach(function(res){%>
                 
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                      <div class="card-container style2">
                          <div class="front">
                            <figure>
                              <a href="profile/<%=res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                              <a class="img-overlay"><h5 class="name"><%= res.artist_name %></h5></a>
                            </figure>        
                          </div>
                          <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                          <div class="icons">
                            <% res_links.forEach(function(result){%>
                              <%if(result.user_id == res.user_id){%>
                                <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png"></a>
                              <%}%>
                            <%})%>
                          </div>
                      </div>
                    </div>
                <%})%>
            </div>
        </section>
  <%}%>

  <!--<img src="foo.jpg" onerror="if (this.src != 'error.jpg') this.src = 'error.jpg';">-->




  


<!--------------------------------------------------------- USERS SAME LEVEL ------------------------------------------------------------------>

    <% if(logged && res_users_samelevel!=""){ %>

      <div class="section-scroll-header"><h5><span class="section-tag similar">Similar</span> <%= titleSameLevel %></h5><span><a href="/users/samelevel"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
      <section class="horizontal-scroll">
              <div class="row">
              <% res_users_samelevel.forEach(function(res){%>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                  <div class="card-container style2">
                      <div class="front">
                        <figure>
                          <a href="profile/<%=res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                          <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                        </figure>
                      </div>
                      <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                      <div class="icons">
                        <% res_links.forEach(function(result){%>
                          <%if(result.user_id == res.user_id){%>
                            <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                          <%}%>
                        <%})%>
                      </div>
                  </div>
                </div>
           <%})%>
        </div>
      </section>
    <%}%>
  




 <!--------------------------------------------------------- USERS WITH A COMMON CATEGORY ----------------------------------------------->

 <%if(logged && res_users_samecategory!=""){%>
  <div class="section-scroll-header"><h5><span class="section-tag similar">Similar</span> Profiles with a category in common with you</h5><span><a href="/users/withcommoncategory"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
  
  <section class="horizontal-scroll">
    
          <div class="row">
          <% res_users_samecategory.forEach(function(res){%>
          
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
              <div class="card-container style3">

                  <div class="front">
                      <figure>
                        <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                        <a class="img-overlay"><span class="name"><%= res.artist_name %></span></a>
                      </figure>
                  </div>
                  <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                  <div class="icons">
                    <% res_links.forEach(function(result){%>
                      <%if(result.user_id == res.user_id){%>
                        <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png"></a>
                      <%}%>
                    <%})%>
                  </div>

              </div>
            </div>
            
          <%})%>
          
      </div>
    
  </section>
  <%}%>

</section>
<%}%>







<% if(logged && ((res_users_macro_sec_1!=undefined && res_users_macro_sec_1.length>0)||(res_users_macro_sec_2!=undefined && res_users_macro_sec_2.length>0))){ %>
  <section class="layout-container-wide section-bg-lighter-fade py-small">
   <p class="text-smaller text-lighter">Complementary to you (<%= macroName %> Artist)</p>
 <!------------------------------------------------------- MACRO SECTION 1 ------------------------------------------------------->
 
 <% if(logged && res_users_macro_sec_1!=undefined && res_users_macro_sec_1.length>0){ %>
   
  
     <div class="section-scroll-header"><h5><%= titleMacro1 %></h5><span><a href="/users/<%= urlMacro1 %>"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
     
     <section class="horizontal-scroll">
       
             <div class="row">
             <% res_users_macro_sec_1.forEach(function(res){%>
             
               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                   <div class="card-container style3">
 
                     <div class="front">
                         <figure>
                         <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                         <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                         </figure>
                     </div>
 
                     <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                   
                     <div class="icons">
                       <% res_links.forEach(function(result){%>
                         <%if(result.user_id == res.user_id){%>
                           <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                         <%}%>
                       <%})%>
                     </div>
 
                 </div>
             </div>
               
             <%})%>
             
         </div>
       
     </section>
     
    <% } %>
 
    
 
 
 <!-------------------------------------------------------- MACRO SECTION 2 ---------------------------------------------------------->
 
 <% if(logged && res_users_macro_sec_2!=undefined && res_users_macro_sec_2.length>0){ %>
 
     <div class="section-scroll-header"><h5><%= titleMacro2 %></h5><span><a href="/users/<%= urlMacro2 %>"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
     
     <section class="horizontal-scroll">
       
             <div class="row">
             <% res_users_macro_sec_2.forEach(function(res){%>
             
               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                 <div class="card-container style3">
 
                   <div class="front">
                     <figure>
                       <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                       <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                     </figure>
                   </div>
 
                   <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                   
                     <div class="icons">
                       <% res_links.forEach(function(result){%>
                         <%if(result.user_id == res.user_id){%>
                         <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                         <%}%>
                       <%})%>
 
                     </div>
               
                 </div>
               </div>
               
             <%})%>
             
         </div>
       
     </section>
    <% } %>
 
 </section>
 <% } %>
 









<section class="layout-container-wide py-small section-bg-lighter-fade">   
  
<p class="text-smaller text-lighter">General Sections</p>

<!------------------------------------------------------- [LOGGED/UNLOGGED] USERS MUSIC  ------------------------------------------------------->

<% if(res_users_music.length>0){ %>
 
  <div class="section-scroll-header"><h5>Music Artists</h5><span><a href="/section/musicartists"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
  
  
  <section class="horizontal-scroll">
    
          <div class="row">
          <% res_users_music.forEach(function(res){%>
          
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style3">

                  <div class="front">
                      <figure>
                      <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                      <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                      </figure>
                  </div>
                  <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                  <div class="icons">
                    <% res_links.forEach(function(result){%>
                      <%if(result.user_id == res.user_id){%>
                        <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                      <%}%>
                    <%})%>
                  </div>

              </div>
          </div>
            
          <%})%>
          
      </div>
    
  </section>
  
 <% } %>


 <!------------------------------------------------------- [LOGGED/UNLOGGED] USERS VIDEO  ------------------------------------------------------->

<% if(res_users_video.length>0){ %>
 
  <div class="section-scroll-header"><h5>Video Artists</h5><span><a href="/section/videoartists"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
  
  
  <section class="horizontal-scroll">
    
          <div class="row">
          <% res_users_video.forEach(function(res){%>
          
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style3">

                  <div class="front">
                      <figure>
                      <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                      <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                      </figure>
                  </div>
                  <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                  <div class="icons">
                    <% res_links.forEach(function(result){%>
                      <%if(result.user_id == res.user_id){%>
                        <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                      <%}%>
                    <%})%>
                  </div>

              </div>
          </div>
            
          <%})%>
          
      </div>
    
  </section>
  
 <% } %>


 <!------------------------------------------------------- [LOGGED/UNLOGGED] USERS DANCE  ------------------------------------------------------->

<% if(res_users_dance.length>0){ %>
 
  <div class="section-scroll-header"><h5>Dance Artists</h5><span><a href="/section/danceartists"><img src="../icons/arrow-right.svg" alt=""></a></span></div>
  
  
  <section class="horizontal-scroll">
    
          <div class="row">
          <% res_users_dance.forEach(function(res){%>
          
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style3">

                    <div class="front">
                        <figure>
                        <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                        <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                        </figure>
                    </div>
                    <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                    <div class="icons">
                      <% res_links.forEach(function(result){%>
                        <%if(result.user_id == res.user_id){%>
                          <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                        <%}%>
                      <%})%>
                    </div>

                </div>
            </div>
            
          <%})%>
          
      </div>
    
  </section>
  
 <% } %>

</section>    <!------------------------------------------------------------ END GENERAL SECTIONS --------------------------------------------------------->





<!--
<section class="layout-container-wide py-small">
-->
  <!------------------------------------------------------------ USERS MORE LIKES --------------------------------------------------------->
<!--
  <div class="section-scroll-header"><h5><%= titleMoreLikes %></h5><span><a href="/users/mostliked"><img src="../icons/arrow-right.svg" alt=""></a></span></div>

  <section class="horizontal-scroll">
        
        <div class="row">
        
              <% res_users_morelikes.forEach(function(res){%>
              
                  <%if(logged && userLogged.user_id != res.user_id || !logged){%>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                <div class="card-container style1">
                    <div class="front">
                      <figure>
                        <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                      </figure>
                    </div>
  
                     <div class="content-text">
                        <div class="followers">
                          <h6 class="name"><%= res.artist_name %></h6>
                          <span>
                            <svg enable-background="new 0 0 24 24" height="100%" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z" fill="#f44336"/></svg>
                            <p><%= res.countlike %></p>
                          </span>
                        </div>
                    
                        <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                      
                        <div class="icons">
                          <% res_links.forEach(function(result){%>
                            <%if(result.user_id == res.user_id){%>  
                            <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                            <%}%>
                          <%})%>  
                        </div>

                  </div>
          
                
              </div>
            </div>
                
            <%}%>
                  
          <%})%>
               
        </div>
          
</section>

</section>

-->



<!--
<% if(res_users_active.length > 1 || res_users_newuser.length > 5){ %>
<section class="layout-container-wide py-small">

<p class="text-smaller text-lighter">Based on activity</p>
 -->
  <!------------------------------------------------------------- USERS TODAY ACTIVE --------------------------------------------------->
  <!--
  <% if(res_users_active.length > 1){ %>
  <div class="section-scroll-header"><h5><%= titleTodayActive %></h5><span><a href="/users/activetoday"><img src="../icons/arrow-right.svg" alt=""></a></span></div>

        <section class="horizontal-scroll">
          
          <div class="row">
          
                <% res_users_active.forEach(function(res){%>
                
                  <%if(logged && userLogged.user_id != res.user_id || !logged){%>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
                      <div class="card-container style3">
      
                          <div class="front">
                              <figure>
                              <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                              <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                              </figure>
                          </div>
                          <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                          <div class="icons">
                            <% res_links.forEach(function(result){%>
                              <%if(result.user_id == res.user_id){%>
                                <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                              <%}%>
                            <%})%>
                          </div>
      
                      </div>
                  </div>
                  
                 <%}%>
                    
            <%})%>
                
         </div>
            
      </section>

  <% } %>
-->



<!----------------------------------------------------------- USERS TODAY NEW --- -------------------------------------------------->
<!--
<% if(res_users_newuser.length > 5){ %>
  <div class="section-scroll-header"><h5><%= titleTodayNew %></h5><span><a href="/users/newusertoday"><img src="../icons/arrow-right.svg" alt=""></a></span></div>

<section class="horizontal-scroll">
  
  <div class="row">
  
    <% res_users_newuser.forEach(function(res){%>
        
          <%if(logged && userLogged.user_id != res.user_id || !logged){%>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">
            <div class="card-container style3">

                <div class="front">
                    <figure>
                    <a href="profile/<%= res.user_name%>"><img class="img_profile" src="uploads/<%= res.user_id %>/profile.jpg" alt="" onerror="if (this.src != 'uploads/default/default.jpg') this.src = 'uploads/default/default.jpg';"></a>
                    <a class="img-overlay"><h6 class="name"><%= res.artist_name %></h6></a>
                    </figure>
                </div>
                <div class="artist_info"><% if(res.country != undefined) { %>  <p><%= res.country %></p> <% } %> <% if(res.artist_type != undefined) { %>  <p><%= res.artist_type %></p> <% } %></div>
                <div class="icons">
                  <% res_links.forEach(function(result){%>
                    <%if(result.user_id == res.user_id){%>
                      <a href="<%=result.url%>"><img src="/icons/platforms/w-<%=result.link_name%>.png" alt=""></a>
                    <%}%>
                  <%})%>
                </div>

            </div>
        </div>
          
        <% } %>
            
  <% }) %>
        
  
  </div>
    
</section>
<% } %>
-->


</section>
<% } %>

</div>
</div>


  

<div id="panel-message-floating" class="panel-message-floating">
  <span class="scroll-icon"><span class="scroll-icon__dot"></span></span>
  <p>Muovi il puntatore in una sezione ed esplorala usando la rotellina</p>
</div>

<!--
<section class="layout-container-wide bg-section-updates py-bodytop py-small">
  <div class="d-flex flex-row justify-between">
    <div>
<h5> Lorem ipsum dolor sit amet consectetur adipisicing. </h5>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa saepe, praesentium corporis molestiae officiis nobis.
    </div>
    <div>
<a href="" class="btn btn-medium btn-bg-outline"> Learn More! </a>
    </div>
  </div>
</section>
-->




<%- include partials/footer %>


